body {
  background: #f0f4f8;
  color: #333;
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 900px;
  margin: 50px auto;
  padding: 20px;
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0 7px 9px rgba(0, 0, 0, 0.2);
}

h1 {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 20px;
}

h2 {
  font-size: 1.5rem;
  margin-top: 20px;
}

form {
  display: flex;
  gap: 10px;
}

input {
  flex: 1;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 4px;
}

button {
  padding: 10px 15px;
  font-size: 1rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

.noturno {
  background-color: black;
}

.noturno:hover {
  background-color: #391a46;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

li:last-child {
  border-bottom: none;
}

.action-buttons {
  display: flex;
  gap: 10px;
}

.btn-concluir {
  padding: 10px 15px;
  font-size: 1rem;
  background-color: #129b00; 
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-concluir:hover {
  background-color: rgb(0, 71, 6); 
}

.btn-excluir {
  padding: 10px 15px;
  font-size: 1rem;
  background-color: #af0000; 
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-excluir:hover {
  background-color: #610000; 
}

.completed {
  text-decoration: line-through;
  color: #888;
}

/* Responsividade */
@media (max-width: 600px) {
  .container, input {
    width: 60%;
  }

  h1 {
    font-size: 1.5rem;
  }
}

.dark-mode {
  background: #121212;
  color: #f0f0f0;
}

.dark-mode .container {
  background: #1e1e1e;
  box-shadow: 0 7px 9px rgba(255, 255, 255, 0.2);
}

.dark-mode input {
  background: #333;
  color: white;
  border: 1px solid #555;
}

.dark-mode .botaoPadrao {
  background-color: #d4d4d4;
}

.dark-mode .botaoPadrao:hover {
  background-color: #7a7a7a;
}

.dark-mode #modonoturno i {
  color: #000000; 
}

.dark-mode #Adicionar {
  color: black; 
}

.dark-mode .btn-concluir {
  background-color: #129b00;
  color: white;
}

.dark-mode .btn-concluir:hover {
  background-color: rgb(0, 71, 6);
}

.dark-mode .btn-excluir {
  background-color: #af0000;
  color: white;
}

.dark-mode .btn-excluir:hover {
  background-color: #610000;
}
